# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Dataset
data.zip
*.zip


# Dataset
data.zip
*.zip

# Training and testing data
train/
test_noisy/
#

# TensorBoard
tensorboard/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db